
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.background{
  /* background: url("../public/Images/whitePuzzle.jpg"); */
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
 
}
.container{
  height:1000px;
  
}






ul > li > a > div {
    padding: 10px;
    margin: 0 auto;
    display: grid;
    
}

ul > li > a {
  text-decoration: none;
  color: blue;
  /* background-color: #6398d2; */
}
ul > li > a:hover{
  text-decoration: none;
  /* background-color: #6398d2; */
}





