.buttonWrapper {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    text-align:center;
    background-image: url("https://us.123rf.com/450wm/belchonock/belchonock1804/belchonock180428729/98944691-color-puzzles-on-wooden-background.jpg?ver=6");
 
    
    
  }