.bg-primary{
    color:white;
}
.avatar{
    padding:5px;
    margin:auto;
    
}
img{
     width:150px;
     height:300px;
    margin-bottom: 10px;
    text-align: center;
}
.colorOfFooter{
 background-color: 
 #007bff;
color:white;

}
.creatorsTitle{
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    font-size: 3.25rem;
}
.titleBio{
    text-align: center;
}
.smallFooter{
    background-color:white;
    color:#007bff;
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    
}
h5{
    font-family: 'Roboto', sans-serif; 
}

.white-text{
    color:white;
}
.icons{
    text-align: center;
}
footer{
    color:white;
}
.bio{
    font-size:20px ;
}
