.headerText{
    text-align: center;
    font-family: 'Viga', sans-serif;
    /* font-family: 'Bowlby One SC', cursive; */
    font-size:50px;
    color:#007bff;
   
}

.itemChanged{
    font-family: 'Calistoga', cursive;
    color:red
}