.card {
  background: #fff;
  border-radius: 5px;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  border:8px solid #007bff;
  margin-top: 0px;
  
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  /* background:#6CADDC; */
  
  
}
.card > .img-container > img {
  width: 225px;
  max-width: 100%;
  height:135px;
}

.cardTitle{
  font-family: 'Viga', sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom:0px;
  border:8px solid #007bff;
    
}

.cardsForBoard{
  padding:10px;
  background-color: red;
  color:white;
}